body{background-color: black;}
h2 {color:white}
h1 {text-align: center;}
h1{color: white;}
#imagens1 {border-color: blue;}
#imagens1 {border-style:dotted}
    #imagens1 {margin-left: 37%;
            }
      h3{color:white}
